<!DOCTYPE html>
<html>
	<body>


		<nav id="global-header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="#">Link</a></li>
			      <li><a href="#">Link</a></li>
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Action</a></li>
			          <li><a href="#">Another action</a></li>
			          <li><a href="#">Something else here</a></li>
			          <li><a href="#">Separated link</a></li>
			          <li><a href="#">One more separated link</a></li>
			        </ul>
			      </li>
			    </ul>
			    <form class="navbar-form navbar-left" role="search">
			      <div class="form-group">
			        <input type="text" class="form-control" placeholder="Search">
			      </div>
			      <button type="submit" class="btn btn-default">Submit</button>
			    </form>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="#">Link</a></li>
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Action</a></li>
			          <li><a href="#">Another action</a></li>
			          <li><a href="#">Something else here</a></li>
			          <li><a href="#">Separated link</a></li>
			        </ul>
			      </li>
			    </ul>
			  </div><!-- /.navbar-collapse -->
		</nav>


		<div id="content">
			<div id="questionstream">
				<div class="feed-item">
					<img class="feed-photo" src="/assets/Headshot_Adam.jpg"></img>
					<div class="feed-body">
						<div class="annotated-body">
							<span class="person-name"><strong>Adam Ferris</strong></span>, <span class="person-title">MBA Candidate</span>, <span class="question-intro">needs your help:</span>
						</div>
						<div class="question-content">What procedures/policies does Disney use to ensure their research is commercialized?</div>
						<div class="question-category">Question Category: 
						</div>
					</div>
				</div>
				<div class="feed-item">
					<img class="feed-photo" src="/assets/Headshot_Adam.jpg"></img>
					<div class="feed-body">
						<div class="annotated-body">
							<span class="person-name"><strong>Adam Ferris</strong></span>, <span class="person-title">MBA Candidate</span>, <span class="question-intro">needs your help:</span>
						</div>
						<div class="question-content">What procedures/policies does Disney use to ensure their research is commercialized?</div>
						<div class="question-category">Question Category: 
						</div>
					</div>
				</div>
				<div class="feed-item">
					<img class="feed-photo" src="/assets/Headshot_Adam.jpg"></img>
					<div class="feed-body">
						<div class="annotated-body">
							<span class="person-name"><strong>Adam Ferris</strong></span>, <span class="person-title">MBA Candidate</span>, <span class="question-intro">needs your help:</span>
						</div>
						<div class="question-content">What procedures/policies does Disney use to ensure their research is commercialized?</div>
						<div class="question-category">Question Category: 
						</div>
					</div>
				</div>
			</div>

			<div id="questionentry">
				<div id="question-header">Have a question? </div>
				<div id="input-container">
					<div class="input-group">
						<input id="input-question" type="text" class="form-control" placeholder="Example: What procedures/policies does Disney use to ensure their research is commercialized?">
						<textarea id="input-description" class="form-control" style="max-width:; max-rows:'4';" rows="4" placeholder="Context/description"></textarea> 
						<input id="input-category" type="text" class="form-control" placeholder="Question categories">
					</div>
					<button id="question-submit" type="button" class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>
		</div>



	</body>
</html>
	
<style>

body{
	background: #ebebed;
}

#global-header{

}

#content{
	padding-top: 70px;
	width: 974px;
	margin-right: auto;
	margin-left: auto;

}

#questionstream{
	float: left;
	width:646px;
	background: #FFFFFF;
	border: 1px #D4D4D4 solid;
}

.feed-item{
	height: 117px;
	border-top: 1px #D4D4D4 solid;
	padding-top: 20px;
	margin-bottom: 20px;
}

.feed-photo{
	height: 65px;
	width: 65px;
	border: 1px #D4D4D4 solid;
	border-left: 0px #D4D4D4 solid;
	margin-top: 2px;
	margin-right: 15px;
	float: left;
}

.feed-body{
	
}

.annotated-body{

}

.question-intro{

}

.person-name{

}

.person-title{

}

.question-content{
	padding-top: 5px;

}

.question-category{
	padding-top: 5px;
}


#questionentry{
	width: 318px;
	float: right;
	margin-left: 10px;
	border: 1px #D4D4D4 solid;
	background: #FFFFFF;
	height: 400px;
}

#input-container{
	margin:5px;
}

#question-header{
	margin: 5px;
	text-align: center;
}

/*.question-element-holder{
	margin:5px;
}*/

#input-question{
	margin-top:5px;
}

#input-description{
	margin-top:5px;
}

#input-category{
	margin-top:5px;
}

#question-submit{
	margin-top: 5px;
}

</style>
	